<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fail to up load</title>
</head>
<body>
    <h1>FAIL TO UPLOAD</h1>
    <h3 href="/">go back</h3>
</body>
</html>