<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TaoToyaTa</h1>
    <a href="/edit">จัดการสินค้า</a>
    <a href="/addform">บันทึกสินค้า</a>
    <h1>รายการสินค้า</h1>
    <%Object.values(products).forEach(function(item){%>
        <p>ชื่อสินค้า : <%= item.name%></p>
        <p>ราคา : <%= item.price%></p>
        <p>รายละเอียด : <%= item.description%></p>
        <img src="<%= item.image%>" alt="" width="500">
        <hr>
    <% })%>
</body>
</html>